---

---

<section class="py-16 section">
    <div class="px-16 justify-center items-center grid mt-10 lg:grid-flow-col md:grid-flow-row auto-cols-[minmax(100px,_750px)] gap-10 text-[45px] leading-[2.7rem] text-left">
        <div class="w-full py-10 h-full border bg-[#B0D8C2] text-white">
            <h1 class="ml-[5rem]">Mission</h1>
            <p class="mx-[3rem]">Faith in Action coaches and supports disadvantaged  and at risk women in Burundi through a holistic community and family-based approach so that they become active, contributing members of their communities.</p>
        </div>
        <div class="w-full py-10 h-full border bg-white text-[#56bef6]" >
            <h1 class="ml-[5rem]">Vision</h1>
            <p class="mx-[3rem]">
                An equitable society where all women and their families thrive socially and economically.
            </p>
        </div>
    </div>
</section>