---
import HomepageTab from "@layouts/function-components/HomepageTab";
import VideoComponent from "@layouts/function-components/VideoComponent";
import { AiFillCheckCircle } from "react-icons/ai/index.js";
import { Image } from "@astrojs/image/components";
const { service } = Astro.props;
const { homepage_tab, our_service } = service;
---

<section class="section services">
  <div class="container">
    <div class="text-center pb-16">
      <h2 class="">Areas of Interventions/ Axes d'interventions </h2>
      <span class="text-bolder">‘A single woman empowered is a generation empowered’</span>
    </div>
    <HomepageTab client:load homepage_tab={homepage_tab} />

  </div>
</section>
