---
import { storyblokEditable } from "@storyblok/astro";
import StoryBlokComponent from '@storyblok/astro/StoryblokComponent.astro';
const { blok } = Astro.props
---


<main {...storyblokEditable(blok)}>
    {
        blok.body?.map((blok) => {
            return <StoryBlokComponent blok={blok} />
        })
    }
</main>